html
    head
        link( rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    body
        form
            input(type='text')
            button.btn.btn-primary.ml-2 Submit